---
import Layout from "../../layouts/Layout.astro";
import { IProduct, IRequest } from "../../types";

export async function getStaticPaths() {
  const response = await fetch("https://633eb2b983f50e9ba3b63447.mockapi.io/requests");
  const requests = (await response.json()) as IRequest[];

  return requests.map((request) => ({
    params: { id: request.id.toString() },
    props: { request },
  }));
}

interface Props {
  request: IRequest;
}

const { id } = Astro.params;
const { request } = Astro.props as Props;
---

<Layout title={`Product ${id}`}>
  <h1 class="text-lg font-bold">{request.file}</h1>
  <p>{request.status}</p>
</Layout>
