---
import Layout from "../layouts/Layout.astro";
import RequestCard from "../components/RequestCard";

import { IRequest } from "../types";

const response = await fetch("https://633eb2b983f50e9ba3b63447.mockapi.io/requests");
const requests = (await response.json()) as IRequest[];
---

<Layout title="Обращения граждан">
  <h1 class="text-lg font-bold">Список выгруженных в ПОС обращений граждан</h1>

  {requests.map((req) => <RequestCard client:load request={req} />)}
</Layout>
