---
const links = [
  { url: "/", title: "Главная" },
  { url: "/products", title: "Продукты" },
  { url: "/requests", title: "ПОС" },
];
---

<nav
  class="flex h-[50px] absolute top-0 left-0 right-0 bg-slate-700 text-white px-4 items-center justify-between"
>
  <div class="flex space-x-2">
    <a href="/">
      <img class="flex object-cover h-10 w-25" src="/logoheader.png" />
    </a>
  </div>

  <ul class="list-none flex">
    {
      links.map((link) => (
        <li class="mr-2 text-slate-300">
          <a href={link.url}>{link.title}</a>
        </li>
      ))
    }
  </ul>
</nav>
